body {
    background-color: #ffffff;
    margin: 20px;
    margin-top: 0;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
}

.roboto-slab {
    font-family: "Roboto Slab", serif;
}

h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
}

.all-btn {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px #667eea66;
}

.all-btn:hover {
    background: linear-gradient(135deg, #586dca 0%, #51336e 100%);
}

.icon-small {
    font-size: 20px;
}

.icon-large {
    font-size: 50px;
}

/* Nav-Bar */
#nav-bar {
    background-color: #ffffff;
    margin-bottom: 30px;
}
.nav-items-container {
   margin: 5px 0;
}
.nav-item {
    font-size: 1.2rem;
    text-align: center;
    border: none;
     width: 25%;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 0 5px;
}
.nav-active, .nav-item:hover {
    background-color: #6879e3;
    font-weight: 600;
    color: #fff;
    border-radius: 10px;
}
.menu-div {
    width: 30% !important;
    display: flex;
    justify-content: space-around;
}

.menu-div .dropdown-menu .list-group .list-group-item:hover {
    background-color: #0d6dfc;
    color: #fff;
    cursor: pointer;
}

#navbarSupportedContent div {
    border: none;
    padding: 10px;
    font-size: 1.2rem;
}

/* #nav-bar div{
    display: flex;
    justify-content: space-between;
} */
.search-bar-container {
    display: flex;
    position: relative;
    align-items: center;
    background: #fff;
    border-radius: 50px;
    border: 1px solid #000000;
    width: 50%;
}

.search-bar {
    flex: 1;
    padding: 15px 20px;
    font-size: 1.1rem;
    border: none;
    background: transparent;
    padding-left: 30px;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px #0000000d;
    overflow: hidden;
    border-radius: 50px;
}

.search-bar:focus {
    outline: none;
    background: #fff;
    box-shadow: 0 5px 15px #0000001a;
}

/* Header */
#header {
    background-color: #031833;
    border-radius: 50px;
    padding: 10px;
    color: #fff;
}

#header .row div {
    align-items: start;
    padding-left: 20px;
}

.carousel {
    width: 80%;
    height: auto;
    overflow: hidden;
}

.items {
    background-color: #ffffff;
    border-radius: 30px;
    margin: 20px;
    border: rgb(207, 205, 205) 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    position: relative;
    cursor: pointer;
    font-family: "Roboto Slab", serif;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeIn 1.5s ease-out forwards;
}

.items:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px #0000001a;
    z-index: 2;
}

.items:hover button {
    display: block;
}

.items-thumbnail img {
    width: 200px;
    height: 200px;
}

.items-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 20px;
    background-color: #041833;
    border-radius: 30px;
    padding: 30px;
    overflow: visible;
}

.items button {
    display: none;
    position: absolute;
    left: calc(50% - 70px);
    top: calc(50% - 70px);
    z-index: 10;
    transition: 1s;
}

/* --- Categories --- */
#categories-box {
    margin: 20px 0;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.category-card {
    background-color: #fff;
    border: 2px solid #041833;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 20px;
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/* .category-card button {
    margin-top: 10px;
    padding: 8px 15px;
    font-size: 0.9rem;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
} */

.category-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px #0000001a;
}

.category-card i {
    font-size: 3rem;
    color: #031833;
    margin-bottom: 15px;
}

.category-card h5 {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    color: #333;
}

/* --- Discounts Section --- */
#discounts-box {
    background-color: #f0f4fc;
    border-radius: 50px;
    padding: 10px;
    color: #022554;
}

#discounts-box .row {
    align-items: center;
}

#discounts-box h2 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
}

#discounts-box .highlight {
    color: #0d6efd;
}

.discount-text-content {
    padding: 0 40px;
}

.discount-image-container img {
    max-width: 80%;
    height: auto;
    display: block;
    transition: 1s;
}

.discount-image-container img:hover {
    width: 100%;
    height: auto;
}

/* up arrow */
#up-arrow {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #083b7e;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 5px 15px #00000026;
    transition: background-color 0.3s ease;
    z-index: 1000;
    text-decoration: none !important;
}

#up-arrow:hover {
    background-color: #0d6efd;
    transform: scale(1.1);
}

/* contacts */
#contacts {
    color: #022554;
    border: #022554 1px solid;
    border-radius: 50px;
    padding-bottom: 10px;
}

#header,
#discounts-box {
    animation: fadeIn 1.5s ease-in forwards;
}

/* Animation */
 @keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} 

/* Responsive Styles */
@media (max-width: 767px) {
    #discounts-box .row {
        text-align: center;
    }

    .discount-text-content {
        padding: 0 20px;
    }

    .discount-image-container {
        margin-top: 30px;
    }
}

@media (max-width: 430px) {
    .items-container {
        grid-template-columns: 1fr;
    }

    #header .row div {
        align-items: center;
    }

    .search-bar-container button {
        content-visibility: hidden;
        display: inline;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        border: none;
        overflow: hidden;
        position: absolute;
        pointer-events: none;
    }
    .category-card{
        width: 70px;
        height: 70px;
    }

    #all-categories {
        display: none;
    }

    .category-card i {
        font-size: 2rem;
        color: #031833;
        margin-bottom: 5px;
    }
}

@media (min-width: 431px) and (max-width: 750px) {
    .items-container {
        grid-template-columns: 1fr 1fr;
    }
    .category-card {
        width: 100px;
        height: 100px;
        padding: 10px;
        margin: 5px;
    }

    .category-card i {
        font-size: 2.5rem;
        color: #031833;
        margin-bottom: 10px;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .items-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #categories-box {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .items-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #categories-box {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

}
